transformers==4.29.0
huggingface_hub==0.15.1
torch==2.0.1
langchain==0.2.11
langchain-core==0.2.24
langchain-text-splitters==0.2.2
langsmith==0.1.93
orjson==3.10.6
langchain-community
python-dotenv==1.0.0
accelerate==0.33.0
faiss-cpu

